#spanId{
    color: blue;
}
#divId{
    background: linear-gradient(to bottom, lightgray, white); 
    
}

#myFirstHeading
{
    text-align: right;
    margin-right: 21%;
}
#nestedDiv{
    margin-left: 13%;
    margin-right: 13%;
}
.FirstDivItems{
    
    width: 25%;
    height: 230px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    margin: 3px;
    margin-bottom: 5px;
    /* padding: 4px; */
    display: inline-block;
    
}
.SecondDivItems{
    width: 25%;
    height: 230px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    margin: 3px;
    /* padding: 4px; */
    display: inline-block;

}
input.inputContainer {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.FirstDivItems:hover{
    border: 2px groove black;
 
}

.SecondDivItems:hover{
    border: 2px groove black;
}
.Margins-Left{
    margin-left: 5%;
}
.Margins-Right{
    margin-right: 5%;
    /* margin-top: 5%; */
   
}
.myDivItemsHeading{
    color:blue
}
.padding-left{
    padding-left: 15px;
}


.div {
    margin: 2%;
    position: relative;
    width: 40px;
    height: 40px;
    box-shadow: inset 0 0 12px lightblue;
   }
.div::before {
    content: "";
    position: absolute;
    width: 8px;
    top: 50%;
    height: 50%;
    border-radius: 2px;
    background-color: rgb(255,0,0);
    transform: translateX(12px) rotate(-45deg);
    transform-origin: left bottom;
    z-index: +1;
   }
.div::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 8px;
    width: 100%;
    border-radius: 2px;
    background-color: rgb(255,0,0);
    transform: translateX(12px) rotate(-45deg);
    transform-origin: left bottom;
   }

