#spanId{
    color: rgb(37, 177, 215);
}
#first-heading{
    padding-left: 120px;
}

#OuterMost-div{
    font-family: sans-serif;
    z-index: 0;
}
#inner-div-after-heading{
    background-color: rgb(189, 189, 189);
}
#plus_symbol{
    font-size: 50px;
    color: aqua;    
    padding-left: 1050px;
    display: inline;
}

#back-symbol{
    font-size: 50px;
    color: aqua;    
    padding-left: 600px;
   

}
#add-new-task{ 
    font-size: 15px;    
}

#cotainer-first{
    display: flex;
    background-color: rgb(189, 189, 189);
    justify-content: center;
    flex-wrap: nowrap;
   

}
.container-first-items{
    height: 280px;
    width: 350px;
    border-radius: 12px;
    margin: 30px;       
    background-color: aliceblue;
}


#cotainer-two{
    display: flex;
    background-color: rgb(189, 189, 189);
    justify-content: flex-start;
    flex-wrap: nowrap;
    
}
.container-two-items
{
    height: 280px;
    width: 350px;
    margin: 30px;       
    background-color: aliceblue;
    border-radius: 12px;
}

.container-first-items:hover{
    box-shadow: 1px 2px 6px rgb(57, 56, 56), -1px 2px 6px rgb(57, 56, 56), 0 -1px 6px rgb(57, 56, 56);
}
.container-two-items:hover{
    box-shadow: 1px 2px 6px rgb(57, 56, 56), -1px 2px 6px rgb(57, 56, 56), 0 -1px 6px rgb(57, 56, 56);
}
.checkbox-class{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
.striked-text{
    text-decoration: line-through;
}

.cards-headings{
    padding-left: 25px;
    color: rgb(56, 152, 152);
}

#TripToParisAnchorTag{
    text-decoration: none;
    
}

#centeredDivSecondPage{
    z-index: 2;
    height: 400px;
    max-height: 400px;
    width: 400px;
    max-width: 400px;
    background-color: white;
    border: 2px solid red;

}

#innerDivForThirdPage{
    background-color: grey ;
}


.toBeBlurred{
    filter: blur(1.7px);
    
}
#div2-secondPage{
        height: 250px;
        width: 500px;
        background-color: whitesmoke;
        border: 5 px solid black;
        box-shadow: 2px 2px 2px black, -1px -1px 2px black;
        border-radius: 12px;
        position: absolute;
        top: 25%;
        left: 33%;
        right: 30%;
}