body{
    background-color: white;
    font-family: sans-serif;
}

#spanId{
    color: rgb(37, 177, 215);
}
#first-heading{
    padding-left: 120px;
}

#OuterMost-div{
    font-family: sans-serif;
    z-index: 0;
}
#inner-div-after-heading{
    background-color:  #EDEDED;
}
#plus_symbol{
    font-size: 50px;
    color: #00A5EC;   
    padding-left: 1050px;
    display: inline;
}

#back-symbol{
    font-size: 50px;
    color: aqua;    
    padding-left: 600px;
   

}
#add-new-task{ 
    font-size: 15px;    
}

#cotainer-first{
    display: flex;
    background-color: #EDEDED;
    justify-content: center;
    flex-wrap: nowrap;
   

}
.container-first-items{
    height: 280px;
    width: 350px;
    border-radius: 12px;
    margin: 30px;       
    background-color: aliceblue;
}

.third-page-centerd-div{
    height: 280px;
    width: 30%;
    border-radius: 12px;
    margin: auto;       
    background-color: aliceblue;
    
}

.paddingClassforThirdPage{
    padding: 13px 23px;
}


#cotainer-two{
    display: flex;
    background-color: #EDEDED;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
}
.container-two-items
{
    height: 280px;
    width: 350px;
    margin: 30px;       
    background-color: aliceblue;
    border-radius: 12px;
}


#third-page-centerd-div-id:hover{
    box-shadow: 1px 2px 6px rgb(57, 56, 56), -1px 2px 6px rgb(57, 56, 56), 0 -1px 6px rgb(57, 56, 56);
}


.container-first-items:hover{
    box-shadow: 1px 2px 6px rgb(57, 56, 56), -1px 2px 6px rgb(57, 56, 56), 0 -1px 6px rgb(57, 56, 56);
}
.container-two-items:hover{
    box-shadow: 1px 2px 6px rgb(57, 56, 56), -1px 2px 6px rgb(57, 56, 56), 0 -1px 6px rgb(57, 56, 56);
}
.checkbox-class{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    opacity: 0.4;
}
.striked-text{
    text-decoration: line-through;
}

.cards-headings{
    padding-left: 25px;
    color: #00A5EC;
}

#TripToParisAnchorTag{
    text-decoration: none;
    
}

#centeredDivSecondPage{
    z-index: 2;
    height: 400px;
    max-height: 400px;
    width: 400px;
    max-width: 400px;
    background-color: white;
    border: 2px solid red;

}
/* 
#innerDivForThirdPage{
    
} */


.toBeBlurred{
    filter: blur(1.7px);
    
}
#div2-secondPage{
        height: 250px;
        width: 500px;
        background-color: whitesmoke;
        border: 5 px solid black;
        box-shadow: 2px 2px 2px black, -1px -1px 2px black;
        border-radius: 12px;
        position: absolute;
        top: 25%;
        left: 33%;
        right: 30%;
}


#div2-fourthPage{
    height: 250px;
    width: 380px;
    background-color: whitesmoke;
    border: 5 px solid black;
    box-shadow: 2px 2px 2px black, -1px -1px 2px black;
    border-radius: 12px;
    position: absolute;
    top: 25%;
    left: 37%;
    right: 30%;
}

h2 a {
    color: black;
    text-decoration: none;
}

#cross_Mark:hover{

    color: black;
    
}